# compiled output
dist/

# dependencies
**/node_modules/

# keys and settings
.env
.env.*

# lock files
package-lock.json

# misc and logs
**/*.log

# project notes
**/info
**/info.txt

# Firebase
.firebase/

# Firebase Hosting
.firebaserc
firebase.json
firebase-debug.log

# Vercel
.vercel

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# VS Code Local History
.history/

# Optional eslint cache
.eslintcache
