@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;700&display=swap');

.error__container {
  width: 100%;
  max-width: 375px;
  padding: 1rem;
  line-height: 1.2;
  font-family: "Spline Sans Mono", monospace;
  font-size: 1.25rem;

  & img {
    max-width: 280px;
    display: block;
    margin: auto;
  }

  & .title {
    margin-bottom: 1.25rem;
    text-wrap: nowrap;
    font-size: 1.95rem;
    font-weight: 700;
  }

  & a, 
  & a:active, 
  & a:visited {
    width: fit-content;
    display: block;
    margin: 3rem auto 0;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    border: 2px solid currentColor;
    font-size: 1.1rem;
  }

  a:hover {
    transform: scale(1.05);
  }
}
